@model LocalTheatre.Models.BlogPost

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>About to delete, are you sure?</h3>
<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" onclick="return confirm('Are you sure you would like to delete this?');" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
